## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [3]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,7,Katsuura,JP,68.02,light rain,35.1333,140.3000,Katsuura Hotel Mikazuki
1,11,Avarua,CK,80.65,scattered clouds,-21.2078,-159.7750,Paradise Inn
2,13,East London,ZA,62.13,overcast clouds,-33.0153,27.9116,Tu Casa
3,14,Esperance,AU,56.62,clear sky,-33.8667,121.9000,Hospitality Esperance
4,16,Port Alfred,ZA,57.18,scattered clouds,-33.5906,26.8910,The Halyards Hotel

In [4]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp}Â°F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [48]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
vacation_start = vacation_df.loc[37]
vacation_start

City_ID                                        68
City                                      Fortuna
Country                                        US
Max Temp                                    56.66
Current Description                     clear sky
Lat                                       40.5982
Lng                                     -124.1573
Hotel Name             Super 8 by Wyndham Fortuna
Name: 37, dtype: object

In [34]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities.
# 4 Cities: North Bend, Jackson, Eureka, Fortuna   
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"] == "North Bend"]
vacation_end = vacation_df.loc[vacation_df["City"] == "North Bend"]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == "Jackson"]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == "Eureka"]
vacation_stop3 = vacation_df.loc[vacation_df["City"] == "Fortuna"]

vacation_start

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
188,343,North Bend,US,72.25,overcast clouds,43.4065,-124.2243,Red Lion Hotel Coos Bay

In [35]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start.iloc[0,5:7].to_numpy()
end = vacation_end.iloc[0,5:7].to_numpy()
stop1 = vacation_stop1.iloc[0,5:7].to_numpy()
stop2 = vacation_stop2.iloc[0,5:7].to_numpy()
stop3 = vacation_stop3.iloc[0,5:7].to_numpy()

start

array([43.4065, -124.2243], dtype=object)

In [54]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

fig = gmaps.figure(center=(42, -127), zoom_level = 6)
north_bend = start
jackson = stop1
eureka = stop2
fortuna = stop3
pnw_tour = gmaps.directions_layer(north_bend, north_bend,
                                  waypoints=[jackson, eureka, fortuna],
                                  travel_mode="DRIVING")
fig.add_layer(pnw_tour)
fig

Figure(layout=FigureLayout(height='420px'))

In [55]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,343,North Bend,US,72.25,overcast clouds,43.4065,-124.2243,Red Lion Hotel Coos Bay
1,380,Jackson,US,82.02,clear sky,42.4165,-122.8345,Agate Village Apartments
2,134,Eureka,US,81.75,overcast clouds,40.8021,-124.1637,Eureka Inn Trademark By Wyndham
3,68,Fortuna,US,56.66,clear sky,40.5982,-124.1573,Super 8 by Wyndham Fortuna

In [56]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp}Â°F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [58]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(42, -127), zoom_level = 6)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))